<tr >
	<td ></td>
	<td colspan="3"  >
		<table class="table " style="border-width: 3px;border: solid; border-color:  #257d9e ;" >
			<tr style="border-width: 3px;border: solid; border-color:  #257d9e ;">
				<td rowspan="1"  style="border-width: 3px;border: solid; border-color:  #257d9e ;"><%=answer.user.name%><br>
					<%=link_to "+","" %> <%=link_to "-","" %></td>
				<td colspan="3" ><%=answer.body%></td>
			</tr>
			<%= render :partial => "comment", :collection => answer.comments %>
			<tr  style="border-width: 3px;border: solid; border-color:  #257d9e ;">
				<td colspan="3" >
					<% @new_ca = Comment.new %>
					<% @new_ca.commentable = answer %>
					<%= render 'comments/formAns', :collection => @new_c %>
				</td>
			</tr>
		</table>
	</td>
</tr>