
<tr >
	<td ></td>
	<td colspan="3"  >
		<table class="table " style="border-width: 3px;border: solid; border-color:  #257d9e ;" >
			<tr style="border-width: 3px;border: solid; border-color:  #257d9e ;">
				<td rowspan="1"  style="border-width: 3px;border: solid; border-color:  #257d9e ;"><%=answer.user.name%><br>
					<% @datosp = { 	answer:answer,like: true}%>
					<% @datosn = { 	answer:answer,like: false}%> 
					<% @voto = answer.votes.where(user: current_user).first%> 

					<% if @voto.nil? %> 
						<table class="table table-hover table-sm table-responsive">
							<tr style="max-width: 52px">
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosp) ,method: :post, class:"btn btn-success glyphicon glyphicon-thumbs-up"%></td>
						<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: true).count %></span></td>
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosn) ,method: :post, class:"btn btn-danger glyphicon glyphicon-thumbs-down" %></td>
								<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: false).count %></span></td>
							</tr>
						</table>
					<% else %>
						<% if !@voto.like %> 
							<table class="table table-hover table-sm table-responsive">
							<tr style="max-width: 52px">
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosp) ,method: :post, class:"btn btn-success glyphicon glyphicon-thumbs-up"%></td>
						<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: true).count %></span></td>
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosn) ,method: :post, class:"btn btn-danger glyphicon glyphicon-thumbs-down", disabled: :true %></td>
								<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: false).count %></span></td>
							</tr>
						</table>
						<% else %>
							<table class="table table-hover  table-sm table-responsive">
							<tr style="max-width: 52px">
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosp) ,method: :post, class:"btn btn-success glyphicon glyphicon-thumbs-up", disabled: :true%></td>
						<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: true).count %></span></td>
								<td style="max-width: 13px"><%= link_to "", users_votar_respuesta_path(@datosn) ,method: :post, class:"btn btn-danger glyphicon glyphicon-thumbs-down" %></td>
					<td style="max-width: 8px"><span class="badge badge-light"><%=answer.votes.where(like: false).count %></span></td>
							</tr>
						</table>
						<% end %>
					<% end %>

				<td colspan="3"><%=answer.body%></td>

			</tr>
			<%= render :partial => "comment", :collection => answer.comments %>
			<tr  style="border-width: 3px;border: solid; border-color:  #257d9e ;">
				<td colspan="3" >
					<% @new_ca = Comment.new %>
					<% @new_ca.commentable = answer %>
					<%= render 'comments/formAns', :collection => @new_c %>
				</td>
			</tr>
		</table>
	</td>
</tr>