<tr >

<td colspan="4" >
		<table class="table table-hover table-bordered" style="border-width: 3px;border: solid; border-color:  #257d9e ;">
			<tr class="danger" >
				<td  rowspan="2" style="border-width: 3px;border: solid; border-color:  #257d9e ;"><%=@question.user.name %><br>
					<% @datosp = { 	question:@question,like: :true}%>
					<% @datosn = { 	question:@question,like: :false}%> 
					<% @voto = @question.votes.where(user: current_user).first%> 

					<% if @voto.nil? %> 
						<%= link_to "", users_votar_pregunta_path(@datosp) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-up "%>
						<%= link_to "", users_votar_pregunta_path(@datosn) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-down "%>
					<% else %>
						<% if !@voto.like %> 
							<%= link_to "", users_votar_pregunta_path(@datosp) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-up", type:"button"%>
							<%= link_to "", users_votar_pregunta_path(@datosn) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-down", type:"button",disabled: true %>
						<% else %>
							<%= link_to "", users_votar_pregunta_path(@datosp) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-up", type:"button",disabled: true%>
							<%= link_to "", users_votar_pregunta_path(@datosn) ,method: :post, class:"btn btn-default glyphicon glyphicon glyphicon-thumbs-down", type:"button"%>
						<% end %>
					<% end %>


					 </td>
				<td colspan="3" style="border-width: 3px;border: solid; border-color:  #257d9e ;"><%=@question.title%></td>
			</tr>
			<tr class="success" style="border-width: 3px;border: solid; border-color:  #257d9e ;">
				<td colspan="3" style="border-width: 3px;border: solid; border-color:  #257d9e ;"><%=@question.body%></td>
			</tr>
			<tr >
				<td colspan="4" style="border-width: 3px;border: solid; border-color:  #257d9e ;">
					<% @question.labels.each do |label| %>
					<%= link_to label.title, label%>
					<%end%>
					
				</td>
			</tr>
		</table>
	</td>
</tr>
