<!DOCTYPE html>
<html  lang='en'>
  <head>
    <title>Educanding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body style="background-color: #ccccff ">
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<nav class="navbar navbar-default navbar-static-top" role="navigation" >
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="" href="/questions">  <%= image_tag 'educanding_azul.png' , size: '152x50' %></a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #E6F3FF">
    <ul class="nav navbar-nav">
      <li><%= link_to "Crear Pregunta", :controller => '/questions', :action => :new %></li>
      <li><%= link_to "Ver Preguntas" , questions_path %></li>
      <li><%= link_to "Ver Universidades" , universities_path %></li>
      <li><a href="/labels">Ver Etiquetas</a></li>
      <li class="dropdown">

          <% if !(current_user.nil?) && !(current_user.level.actions.where(name: "Administrar").first.nil?) %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Administrar <b class="caret"></b>
            </a>
          <% end %>
        <ul class="dropdown-menu">

          <li><%= link_to "Crear Facultad", :controller => '/questions', :action => :new %></li>

          <li><%= link_to "Crear Etiqueta", :controller => '/labels', :action => :new %></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
 
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control " placeholder="Buscar">
      </div>
      <button type="submit" class="btn btn-default" style="background-color: #00e68a">Enviar</button>
    </form>
 
    <ul class="nav navbar-nav ">
      <% if user_signed_in? %>
            <a href="/users/sign_in" type="button" class="btn btn-success" ><%= current_user.name + " " + current_user.lastname %></a>
            <%= link_to "Me quiero ir!", destroy_user_session_path,method: :delete, class:"btn btn-danger", type:"button"%>
             <%= link_to "Ver Perfil", user_path(current_user.id) ,method: :get, class:"btn btn-warning", type:"button"%>
             <% if current_user.email=="giordano@educanding.com" %>
             <%= link_to "Calculadora de Oxigeno", oxigens_path ,method: :get, class:"btn btn-danger", type:"button"%>
             <% end %>
      <% else %>
       
        <a href="/users/sign_in" type="button" class="btn btn-success" >Logueate!</a>
         <a href="/users/sign_up" type="button" class="btn btn-success " >Registrate!</a>
      <% end %>
    </ul>
      
  </div>
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

